<div class="col-md-4">
  <h2>Rate the talk!</h2>
  <form #ratingForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
      <label for="ratingId">Mark</label>
      <div style="clear:both"></div>
      <fieldset class="rating" id="ratingId">
        <input type="radio" id="star5" name="rating" value="5" [(ngModel)]="ratingModel.mark"/><label class = "full" for="star5" title="Awesome - 5 stars"></label>
        <input type="radio" id="star4half" name="rating" value="4.5"   [(ngModel)]="ratingModel.mark"/><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
        <input type="radio" id="star4" name="rating" value="4"   [(ngModel)]="ratingModel.mark"/><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
        <input type="radio" id="star3half" name="rating" value="3.5"   [(ngModel)]="ratingModel.mark"/><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
        <input type="radio" id="star3" name="rating" value="3"   [(ngModel)]="ratingModel.mark"/><label class = "full" for="star3" title="Meh - 3 stars"></label>
        <input type="radio" id="star2half" name="rating" value="2.5"   [(ngModel)]="ratingModel.mark"/><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
        <input type="radio" id="star2" name="rating" value="2"   [(ngModel)]="ratingModel.mark"/><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
        <input type="radio" id="star1half" name="rating" value="1.5"   [(ngModel)]="ratingModel.mark"/><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
        <input type="radio" id="star1" name="rating" value="1"   [(ngModel)]="ratingModel.mark"/><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
        <input type="radio" id="starhalf" name="rating" value="0.5"  [(ngModel)]="ratingModel.mark"/><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
      </fieldset>
    </div>
    <div style="clear:both"></div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" required class="form-control" id="name" name="name" placeholder="your name"  [(ngModel)]="ratingModel.name">
    </div>
    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea class="form-control" id="comment" placeholder="give a comment" name="comment"  [(ngModel)]="ratingModel.comment"></textarea>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
